{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class='mt-5 pt-3 mb-5'>

            <div>
                <div class="container">
                    <div class="row">
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <a class="nav-link text-white " href="/classes">
                                    <h3>Classes</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">

                                    <a class="nav-link text-white " href="/">
                                        <h3>Members</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <a class="nav-link text-white " href="/classForm">
                                    <h3>Class Form</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <a class="nav-link text-white " href="/memberForm">
                                    <h3>Member Form</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <a class="nav-link text-white " href="/home">
                                    <h3>FAQs</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid col-lg-4">
                            <div class="card text-center bg-success text-white mb-3">
                                <div class="card-body">
                                    <a class="nav-link text-white " href="/home">
                                    <h3>About Us</h3>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
    </div>
{% endblock %}