{% extends "base.html" %}

{% block title %}
All members
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-3 mt-5">
        <div class="card-header bg-primary text-white">
            <h4>
                <span class="d-grid col-md">Members</span>
            </h4>
        </div>
        <div class="card-body">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Person number</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Register class</th>
                    <th scope="col">Hantera</th>
                </tr>
                <tbody>
                {% for member in members %}
                <tr>
                    <td>{{member[0]}}</td>
                    <td>{{member[1]}}</td>
                    <td>{{member[2]}}</td>
                    <td>{{member[3]}}</td>
                    <td>{{member[4]}}</td>
                    <td>{{member[5]}}</td>
                    <td>{{member[6]}}</td>
                    <td><div class="btn btn-success me-2"><a href="/member_info?member={{member[0]}}" style="text-decoration: none; color:white">Edit</a></div><div class="btn btn-danger"><a href="/remove/{{member[0]}}" style="text-decoration: none; color:white">remove</a></div></td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="card-footer bg-primary">
        </div>
    </div>
</div>
{% endblock %}